@media (max-width: 754px){
    nav ul li{
        display: none;
    }
    .foot-nav ul li{
        display: none;
    }
}

@media (max-width: 600px){
    /* if max-width is equal to 375px do this  */
    .maincontainer{
        grid-template-columns: 1fr;
    }
    .hero{
        display: block;
        width: 100%;
    }
    .hero a, .hero img {
        width: 100%;
    }
    .photo{
        display: block;
    }
    .description{
        display: inline;
    }
    .menu i{
        display: block;
    }
}