.ear{
    width: 30px;
    height: 87px;
    background-color: rgb(255, 228, 90);
    border: 2px solid rgb(90, 30, 0);
}

.earL{
    border-radius: 180% 8% 0% 0%;
    position: relative;
    left: 125px;
    top: 105px;
    transform: rotate(-115deg);
}

.earR{
    border-radius: 0% 0% 0% 110%;
    position: relative;
    z-index: -1;
    left: 270px;
    bottom: 150px;
    transform: rotate(-110deg);
}

.head{
    width: 130px;
    height: 110px;
    background-color: #ffe45a;
    border-radius: 100% 100% 80% 80% / 120% 130% 50% 50%;
    border: 2px solid rgb(90, 30, 0);
    position: relative;
    left: 150px;
    transform: rotate(-20deg);
}

.cheek{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 228, 90);
    border-radius: 100% 100% 80% 80% / 120% 130% 50% 50%;
    border: 2px solid rgb(90, 30, 0);
    position: relative;
    left: 160px;
    bottom: 135px;
    transform: rotate(105deg);
}

.body{
    width: 105px;
    height: 100px;
    background-color: rgb(255, 228, 90);
    border-radius: 0% 10% 80% 80% / 120% 120% 100% 80%;
    border: 2px solid rgb(90, 30, 0);
    position: relative;
    z-index: -3;
    left: 217px;
    bottom: 170px;
    transform: rotate(-30deg);
}

.handL{
    width: 20px;
    height: 40px;
    background-color: rgb(255, 228, 90);
    border-radius: 100%;
    border: 2px solid rgb(90, 30, 0);
    position: relative;
    z-index: -1;
    left: 186px;
    bottom: 245px;
    transform: rotate(-15deg);
}

.handR{
    width: 25px;
    height: 60px;
    background-color: rgb(255, 228, 90);
    border-radius: 100%;
    border: 2px solid rgb(90, 30, 0);
    position: relative;
    z-index: -1;
    left: 255px;
    bottom: 308px;
    transform: rotate(45deg);
}

.feetL{
    width: 20px;
    height: 50px;
    background-color: rgb(255, 228, 90);
    border-radius: 100%;
    border: 2px solid rgb(90, 30, 0);
    position: relative;
    z-index: -1;
    left: 190px;
    bottom: 315px;
    transform: rotate(-45deg);
}

.feetR{
    width: 20px;
    height: 40px;
    background-color: rgb(255, 228, 90);
    border-radius: 100%;
    border: 2px solid rgb(90, 30, 0);
    position: relative;
    z-index: -1;
    left: 250px;
    bottom: 365px;
    transform: rotate(-60deg);
}

.tail1{
    width: 0px;
    height: 0px;
    border-left: 55px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 90px solid rgb(255, 228, 90);
    border-radius: 0%;
    position: relative;
    z-index: -4;
    left: 318px;
    bottom: 540px;
    transform:rotate(15deg) ;
}

.tail2{
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 45px solid transparent;
    border-top: 25px solid rgb(255, 228, 90);
    border-radius: 0%;
    position: relative;
    z-index: -4;
    left: 305px;
    bottom: 558px;
    transform:rotate(-15deg);
}

.tail3{
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 27px solid rgb(255, 228, 90);
    border-radius: 0%;
    position: relative;
    z-index: -4;
    left: 320px;
    bottom: 567px;
    transform:rotate(-5deg) ;
}

.tail4{
    width: 10px;
    height: 20px;
    background-color: rgb(255, 228, 90);
    position: relative;
    z-index: -4;
    left: 330px;
    bottom: 570px;
    transform:rotate(-35deg) ;
}

.tail5{
    width: 10px;
    height: 20px;
    background-color: rgb(101, 27, 3);
    position: relative;
    z-index: -4;
    left: 330.5px;
    bottom: 580px;
    transform:rotate(90deg) ;
}

.red{
    width: 30px;
    height: 25px;
    background-color: rgba(250, 57, 57, 0.5);
    border-radius: 100%;
    position: relative;
    z-index: 3;
    left:150px;
    bottom: 650px;
    transform: rotate(-35deg);
}

.red2{
    width: 30px;
    height: 25px;
    background-color: rgb(250, 125, 57);
    border-radius: 70% 100% 80% 80% ;
    position: relative;
    z-index: 3;
    left:250px;
    bottom: 704px;
    transform: rotate(-20deg);
}

.eyeL{
    width: 20px;
    height: 30px;
    background-color: rgb(73, 46, 3);
    border-radius: 130% 90% 80% 100% / 120% 130% 100% 100%;
    position: relative;
    z-index: 2;
    left:165px;
    bottom: 730px;
    transform: rotate(-25deg);
}

.eyeR{
    width: 25px;
    height: 35px;
    background-color: rgb(73, 46, 3);
    border-radius: 130% 100% 80% 100% / 120% 130% 100% 100% ;
    position: relative;
    z-index: 2;
    left:223px;
    bottom: 785px;
    transform: rotateY(180deg);
    transform: rotate(-23deg);
}

.dot{
    width: 5px;
    height: 5px;
    background-color: antiquewhite;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    left:175px;
    bottom: 790px;
}

.dot2{
    width: 5px;
    height: 5px;
    background-color: antiquewhite;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    left:235px;
    bottom: 820px;
}

.light{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #e85511;
    border-radius: 90%;
    filter: blur(1px);
    position: relative;
    z-index: 2;
    left:170px;
    bottom: 788px;
    transform:rotate(-10deg)
}

.light2{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #e85511;
    border-radius: 90%;
    filter: blur(2px);
    position: relative;
    filter: blur(1px);
    position: relative;
    z-index: 2;
    left:231px;
    bottom: 817px;
    transform:rotate(-10deg)
}

.nose{
    width: 3px;
    height: 1.5px;
    background-color: rgb(90, 30, 0);
    border-radius: 100%;
    position: relative;
    z-index: 2;
    left:203px;
    bottom: 810px;
    transform:rotate(-25deg)
}

.mouth{
    width: 10px;
    height: 10px;
    border-bottom: 2px solid rgb(90, 30, 0);
    border-radius: 3px;
    border-radius: 70%;
    position: relative;
    z-index: 2;
    left:197px;
    bottom: 805px;
    transform: rotate(-25deg)
}

.mouth2{
    width: 15px;
    height: 15px;
    border-bottom: 2px solid rgb(90, 30, 0);
    border-radius: 5px;
    border-radius: 90%;
    position: relative;
    position: relative;
    z-index: 2;
    left:205px;
    bottom: 826px;
    transform: rotate(-25deg)
}

.crc{
    /*ear*/
    width: 50px;
    height: 35px;
    background-color: rgb(255, 228, 90);
    border-radius: 0% 0% 150% 0%;
    position: relative;
    z-index: 2;
    left: 240px;
    bottom: 913px;
    transform: rotate(-20deg);
}

.crc2{
    /*bottom*/
    width: 84px;
    height: 20px;
    background-color: rgb(255, 228, 90);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    left: 248px;
    bottom: 780px;
    transform: rotate(-25deg);
}

.crc3{
    /*neck*/
    width: 105px;
    height: 30px;
    background-color: rgb(255, 228, 90);
    border-radius: 150% 150% 0% 0%;
    position: relative;
    z-index: 1;
    left: 196px;
    bottom: 879px;
    transform: rotate(153deg);
}

.crc4{
    /*cheek*/
    width: 60px;
    height: 50px;
    background-color: rgb(255, 228, 90);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    left: 158px;
    bottom: 937px;
    transform: rotate(35deg);
}

.crc5{
    /*side*/
    width: 20px;
    height: 100px;
    background-color: rgb(255, 228, 90);
    border-radius: 50%;
    position: relative;
    z-index: -2;
    left: 220px;
    bottom: 925px;
    transform: rotate(-35deg);
}

.crc6{
    /*side*/
    width: 20px;
    height: 40px;
    background-color: rgb(255, 228, 90);
    border-radius: 50%;
    border: 2px solid rgb(90, 30, 0);
    position: relative;
    z-index: -2;
    left: 200px;
    bottom: 1015px;
    transform: rotate(60deg);
}

.crc7{
    /*side*/
    width: 20px;
    height: 40px;
    background-color: rgb(255, 228, 90);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    left: 260px;
    bottom: 1030px;
    transform: rotate(70deg);
}

.crc8{
    /*armr*/
    width: 60px;
    height: 40px;
    background-color: rgb(255, 228, 90);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    left: 255px;
    bottom: 1130px;
    transform: rotate(55deg);
}

.crc9{
    /*side*/
    width: 23px;
    height: 43px;
    background-color: rgb(255, 228, 90);
    border-radius: 50%;
    position: relative;
    z-index: -2;
    left: 205px;
    bottom: 1140px;
    transform: rotate(60deg);
}

.crc10{
    /*feet*/
    width: 23px;
    height: 43px;
    background-color: rgb(255, 228, 90);
    border-radius: 50%;
    position: relative;
    z-index: -1;
    left: 208px;
    bottom: 1160px;
    transform: rotate(-40deg);
}

.crc11{
    /*head*/
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 15px solid rgb(255, 228, 90);
    border-radius: 0%;
    position: relative;
    z-index: 1;
    left: 165px;
    bottom: 1345px;
    transform:rotate(100deg);
}

.crc12{
    /*head*/
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 15px solid rgb(90, 30, 0);
    border-radius: 0%;
    position: relative;
    z-index: 0;
    left: 160px;
    bottom: 1360.5px;
    transform:rotate(100deg);
}

.crc13{
    /*tail*/
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid rgb(255, 228, 90);
    border-radius: 0%;
    position: relative;
    z-index: 2;
    left: 330px;
    bottom: 1290px;
    transform:rotate(-35deg);
}

.crc14{
    /*tail*/
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid rgb(255, 255, 255);
    border-radius: 0%;
    position: relative;
    z-index: 3;
    left: 345px;
    bottom: 1310px;
    transform:rotate(-25deg);
}

.crc15{
    width: 90px;
    height: 10px;
    border-bottom: 2px solid rgb(90, 30, 0);
    border-radius: 3px;
    border-radius: 70%;
    position: relative;
    z-index: 10;
    left:217px;
    bottom: 1259px;
    transform: rotate(-10deg)
}

.crc16{
    width: 30px;
    height: 10px;
    border-bottom: 2px solid rgb(90, 30, 0);
    border-radius: 10px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left:296px;
    bottom: 1287px;
    transform: rotate(-45deg)
}

.crc17{
    /*tail*/
    width: 0px;
    height: 0px;
    border-left: 57px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 90px solid rgb(90, 30, 0);
    border-radius: 0%;
    position: relative;
    z-index: -8;
    left: 316px;
    bottom: 1440px;
    transform:rotate(15deg)
}

.crc18{
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 45px solid transparent;
    border-top: 25px solid rgb(90, 30, 0);
    border-radius: 0%;
    position: relative;
    z-index: -8;
    left: 305px;
    bottom: 1456px;
    transform:rotate(-15deg);
}

.crc19{
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 27px solid rgb(90, 30, 0);
    border-radius: 0%;
    position: relative;
    z-index: -8;
    left: 314px;
    bottom: 1465.5px;
    transform:rotate(-4deg) ;
}

.crc20{
    width: 12px;
    height: 22px;
    background-color: rgb(90, 30, 0);
    position: relative;
    z-index: -8;
    left: 329.5px;
    bottom: 1470px;
    transform:rotate(-35deg) ;
}

.earLmark{
    width: 20px;
    height: 26px;
    background-color: rgb(70, 37, 0);
    border-radius: 180% 8% 0% 0%;
    position: relative;
    z-index: 10;
    left: 100px;
    bottom: 1568px;
    transform: rotate(-113deg);
}

.earRmark{
    width: 20px;
    height: 25px;
    background-color: rgb(70, 37, 0);
    border-radius: 0% 0% 0% 110%;
    position: relative;
    z-index: 10;
    left: 305px;
    bottom: 1670px;
    transform: rotate(-112deg);
}

.earLmark2{
    width: 18px;
    height: 25px;
    border-left: 8px solid rgb(70, 37, 0);
    border-radius: 10px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left: 115px;
    bottom: 1624px;
    transform: rotate(-25deg);
}

.earRmark2{
    width: 18px;
    height: 25px;
    border-right: 8px solid rgb(70, 37, 0);
    border-radius: 5px;
    border-radius: 100%;
    position: relative;
    position: relative;
    z-index: 10;
    left: 285px;
    bottom: 1712.5px;
    transform: rotate(-15deg);
}

.backmark{
    width: 10px;
    height: 15px;
    background-color: rgba(70, 18, 0, 0.838);
    border-radius: 0% 110% 0% 0%;
    position: relative;
    z-index: 10;
    left: 300px;
    bottom: 1625px;
    transform: rotate(-120deg);
}

.backmark2{
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 13px solid rgba(70, 18, 0, 0.838);
    border-radius: 0%;
    position: relative;
    z-index: 10;
    left: 313px;
    bottom: 1615px;
    transform: rotate(-110deg);
}

.crc21{
    width: 90px;
    height: 10px;
    border-bottom: 8px solid rgb(255, 255, 255);
    border-radius: 7px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left: 230px;
    bottom: 1574.5px;
    transform: rotate(-10deg);
}

.crc22{
    width: 90px;
    height: 10px;
    border-bottom: 30px solid rgb(255, 255, 255);
    border-radius: 50px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left: 230px;
    bottom: 1590px;
    transform: rotate(-10deg);
}

.crc23{
    width: 35px;
    height: 10px;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-radius: 100px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left: 300px;
    bottom: 1650px;
    transform: rotate(-40deg);
}

.crc24{
    width: 35px;
    height: 10px;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-radius: 100px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left: 297.5px;
    bottom: 1664.5px;
    transform: rotate(-60deg);
}

.crc25{
    width: 20px;
    height: 10px;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-radius: 50px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left: 293px;
    bottom: 1678.8px;
    transform: rotate(-24deg);
}

.crc26{
    width: 30px;
    height: 30px;
    border-left: 10px solid rgb(255, 255, 255);
    border-radius: 50px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left: 147px;
    bottom: 1778.8px;
    transform: rotate(-30deg);
}

.crc27{
    width: 10px;
    height: 30px;
    border-left: 10px solid rgb(255, 255, 255);
    border-radius: 50px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    left: 148px;
    bottom: 1807px;
}

.crc29{
    width: 39px;
    height: 1px;
    background-color: rgb(90, 30, 0);
    position: relative;
    z-index: 10;
    left: 341px;
    bottom: 1823px;
    transform: rotate(-25deg);
}