@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

.center{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(247, 20, 255);
    position: relative;
    left: 40px;
    bottom: 130px;
}

.dot{
    height: 6.5px;
    width: 6.5px;
    background-color: rgb(175, 1, 255);
    border-radius: 100%;
}

.dot1{
    position: relative;
    right: 71px;
    bottom: 53px;
}

.dot2{
    position: relative;
    right: 69px;
    bottom: 43px;
}

.dot3{
    position: relative;
    right: 135px;
    top: 125px;
}

.dot4{
    position: relative;
    right: 150px;
    top: 170px;
}

.dot5{
    position: relative;
    right: 115px;
    top: 130px;
}

.dot6{
    position: relative;
    right: 145px;
    top: 148px;
}

.dot7{
    position: relative;
    left: 65px;
    top: 25px;
}

.dot8{
    position: relative;
    left: 120px;
    top: 25px;
}

.dot9{
    position: relative;
    left: 124px;
    bottom: 1px;
}

.dot10{
    position: relative;
    left: 95px;
    bottom: 25px;
}

.dot11{
    position: relative;
    left: 33px;
    bottom: 30px;
}

.line{
    width: 1px;
    background-color: rgb(248, 90, 161);
    border-radius: 180% 180% 100% 160% / 100% 100% 180% 190%;
    position: relative;
    z-index: -1;
}

.line1{
    height: 30px;
    position: relative;
    right: 63px;
    bottom: 65px;
    transform: rotate(25deg);
}

.line2{
    height: 15px;
    position: relative;
    right: 69px;
    bottom: 47px;
    transform: rotate(-45deg);
}

.line3{
    height: 70px;
    position: relative;
    right: 79px;
    bottom: 5px;
    transform: rotate(10deg);
}

.line4{
    height: 70px;
    position: relative;
    right: 120px;
    top: 95px;
    transform: rotate(20deg);
}

.line5{
    height: 48px;
    position: relative;
    right: 143px;
    top: 150px;
    transform: rotate(10deg);
}

.line6{
    height: 35px;
    position: relative;
    right: 143px;
    top: 158px;
    transform: rotate(45deg);
}

.line7{
    height: 25px;
    position: relative;
    right: 131px;
    top: 140px;
    transform: rotate(50deg);
}

.line8{
    height: 55px;
    position: relative;
    right: 105px;
    top: 115px;
    transform: rotate(57deg);
}

.line9{
    height: 150px;
    position: relative;
    right: 29px;
    top: 53px;
    transform: rotate(57deg);
}

.line10{
    height: 30px;
    position: relative;
    left: 80px;
    top: 32px;
    transform: rotate(-55deg);
}

.line11{
    height: 30px;
    position: relative;
    left: 120px;
    top: 32px;
    transform: rotate(55deg);
}

.line12{
    height: 30px;
    position: relative;
    left: 130px;
    top: 12px;
    transform: rotate(25deg);
}

.line13{
    height: 50px;
    position: relative;
    left: 32px;
    bottom: 2px;
    transform: rotate(70deg);
}

.line14{
    height: 30px;
    position: relative;
    left: 110px;
    bottom: 12px;
    transform: rotate(-43deg);
}

.line15{
    height: 30px;
    position: relative;
    left: 73px;
    bottom: 28px;
    transform: rotate(100deg);
}

.line16{
    height: 30px;
    position: relative;
    left: 28px;
    bottom: 22px;
    transform: rotate(40deg);
}

.line17{
    height: 35px;
    position: relative;
    left: 10px;
    top: 5px;
    transform: rotate(5deg);
}

.str{
    width: 3px;
    height: 13px;
    background-color: rgb(255, 192, 1);
    border-radius: 180% 180% 100% 160% / 100% 100% 180% 190%;
}

.stars2{
    width: 2px;
    height: 7px;
    background-color: rgb(255, 192, 1);
    border-radius: 180% 180% 100% 160% / 100% 100% 180% 190%;
}

.star1{
    position: relative;
    right: 45px;
    bottom: 86px;
    transform: rotate(90DEG);
}

.star2{
    position: relative;
    right: 38px;
    bottom: 74px;
}

.star3{
    position: relative;
    right: 41px;
    bottom: 97px;
}

.star4{
    position: relative;
    bottom: 86px;
    right: 32px;
    transform: rotate(90DEG);
}

.star5{
    position: relative;
    right: 52px;
    bottom: 92px;
    transform: rotate(-45deg);
}

.star6{
    position: relative;
    bottom: 92px;
    right: 43px;
    transform: rotate(45deg);
}

.star7{
    position: relative;
    right: 57px;
    bottom: 80px;
    transform: rotate(45deg);
}

.star8{
    position: relative;
    right: 47px;
    bottom: 80px;
    transform: rotate(-45deg);
}

.star17{
    position: relative;
    right: 90px;
    top: 97px;
    transform: rotate(90DEG);
}

.star18{
    position: relative;
    right: 81px;
    top: 85px;
}

.star19{
    position: relative;
    right: 84px;
    top: 108px;
}

.star20{
    position: relative;
    right: 75px;
    top: 97px;
    transform: rotate(90DEG);
}

.star21{
    position: relative;
    right: 96px;
    top: 92px;
    transform: rotate(-45deg);
}

.star22{
    position: relative;
    top: 92px;
    right: 87px;
    transform: rotate(45deg);
}

.star23{
    position: relative;
    right: 99px;
    top: 103px;
    transform: rotate(45deg);
}

.star24{
    position: relative;
    right: 90px;
    top: 103px;
    transform: rotate(-45deg);
}

.star33{
    position: relative;
    left: 55px;
    top: 40px;
    transform: rotate(90DEG);
}

.star34{
    position: relative;
    left: 63px;
    top: 30px;
}

.star35{
    position: relative;
    left: 60px;
    top: 50px;
}

.star36{
    position: relative;
    top: 40px;
    left: 68px;
    transform: rotate(90DEG);
}

.star37{
    position: relative;
    left: 48px;
    top: 35px;
    transform: rotate(-45deg);
}

.star38{
    position: relative;
    left: 58px;
    top: 35px;
    transform: rotate(45deg);
}

.star39{
    position: relative;
    left: 45px;
    top: 45px;
    transform: rotate(45deg);
}

.star40{
    position: relative;
    left: 55px;
    top: 45px;
    transform: rotate(-45deg);
}

.star{
    width: 3px;
    height: 24px;
    background-color: rgb(255, 91, 37);
    border-radius: 180% 180% 100% 160% / 100% 100% 180% 190%;
}

.stars{
    width: 2px;
    height: 15px;
    background-color: rgb(255, 91, 37);
    border-radius: 180% 180% 100% 160% / 100% 100% 180% 190%;
}

.star9{
    position: relative;
    right: 105px;
    top: 53px;
    transform: rotate(90DEG);
}

.star10{
    position: relative;
    right: 90px;
    top: 35px;
}

.star11{
    position: relative;
    right: 93px;
    top: 70px;
}

.star12{
    position: relative;
    right: 78px;
    top: 53px;
    transform: rotate(90DEG);
}

.star13{
    position: relative;
    right: 108px;
    top: 45px;
    transform: rotate(-45deg);
}

.star14{
    position: relative;
    right: 92px;
    top: 45px;
    transform: rotate(45deg);
}

.star15{
    position: relative;
    right: 111px;
    top: 63px;
    transform: rotate(45deg);
}

.star16{
    position: relative;
    right: 96px;
    top: 63px;
    transform: rotate(-45deg);
}

.star25{
    position: relative;
    left: 17px;
    top: 8px;
    transform: rotate(90DEG);
}

.star26{
    position: relative;
    left: 32px;
    bottom: 10px;
}

.star27{
    position: relative;
    left: 29px;
    top: 25px;
}

.star28{
    position: relative;
    left: 45px;
    top: 8px;
    transform: rotate(90DEG);
}

.star29{
    position: relative;
    left: 13px;
    bottom: 2px;
    transform: rotate(-45deg);
}

.star30{
    position: relative;
    bottom: 2px;
    left: 30px;
    transform: rotate(45deg);
}

.star31{
    position: relative;
    left: 10px;
    top: 16px;
    transform: rotate(45deg);
}

.star32{
    position: relative;
    left: 26px;
    top: 16px;
    transform: rotate(-45deg);
}