.container{
    width: 300px;
    height: 450px;
    border: 3px solid rgb(147, 44, 237);
    background-color: rgb(147, 44, 237);
    border-radius: 15px;
}

.star{
    height: 2px;
    width: 2px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 10px;
}

.star2{
    height: 2px;
    width: 2px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 80px;
}

.star3{
    height: 2px;
    width: 2px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: 150px;
}

.star4{
    height: 2px;
    width: 2px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 220px;
}

.star5{
    height: 2px;
    width: 2px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 280px;
}

.star6{
    height: 8px;
    width: 2px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 90px;
    left: 250px;
    filter: blur(1px)
}

.star7{
    height: 2px;
    width: 8px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 85px;
    left: 247px;
    filter: blur(1px)
}

.star8{
    height: 8px;
    width: 2px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 105px;
    left: 50px;
    filter: blur(1px)
}

.star9{
    height: 2px;
    width: 8px;
    background-color: rgb(249, 218, 255);
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 47px;
    filter: blur(1px)
}


.moon{
    height: 45px;
    width: 45px;
    background-color: rgb(255, 243, 110);
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 130px;
}

.moon2{
    height: 45px;
    width: 45px;
    background-color: rgb(147, 44, 237);
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 140px;
    filter: blur(2px);
}

.cloud-default{
    background-color: rgb(223, 191, 252);
    position: relative;
    filter: blur(.5px);
}

.border-radius{
    border-radius: 100% 100% 80% 80% / 120% 120% 50% 50%;
}

.border-radius2{
    border-radius: 100%
}

.cloud{
    width: 40px;
    height: 30px;
    top: 19px;
    left: 225px;
    rotate: 45deg;

}

.cloud2{
    width:45px;
    height: 40px;
    bottom: 50px;
    left: 190px;

}

.cloud3{
    width: 35px;
    height: 30px;
    bottom: 75px;
    left: 160px;
    rotate: -5deg;

}

.cloud4{
    width: 150px;
    height: 20px;
    bottom: 110px;
    left: 130px;

}

.cloud5{
    width: 40px;
    height: 30px;
    top: 110px;
    left: 265px;
    rotate: 45deg;

}

.cloud6{
    width:45px;
    height: 40px;
    top: 60px;
    left: 230px;

}

.cloud7{
    width: 35px;
    height: 30px;
    top: 30px;
    left: 205px;
    rotate: -5deg;

}

.cloud8{
    width: 50px;
    height: 40px;
    top: 10px;
    left: 160px;

}

.cloud9{
    width: 45px;
    height: 45px;
    bottom: 35px;
    right: 2.5px;
    rotate: -5deg;

}

.cloud10{
    width: 45px;
    height: 45px;
    bottom: 70px;
    left: 30px;

}
.cloud11{
    width: 45px;
    height: 45px;
    bottom: 120px;
    left: 60px;

}
.cloud12{
    width: 45px;
    height: 45px;
    bottom: 180px;
    left: 90px;

}
.cloud13{
    width: 45px;
    height: 45px;
    bottom: 210px;
    left: 125px;

}

.bottom{
    width: 300px;
    height: 35px;
    border: 3px solid rgb(223, 191, 252);
    background-color: rgb(223, 191, 252);
    border-radius: 15px;
    position: relative;
    bottom: 240px;
    right: 2.5px;
}


